[submodule "third_party/jackal_calib"]
	path = third_party/jackal_calib
	url = git@github.com:sadanand1120/jackal_calib.git
[submodule "third_party/pips"]
	path = third_party/pips
	url = git@github.com:ut-amrl/pips.git
[submodule "third_party/visprog"]
	path = third_party/visprog
	url = git@github.com:sadanand1120/visprog.git
[submodule "third_party/Grounded-Segment-Anything"]
	path = third_party/Grounded-Segment-Anything
	url = git@github.com:sadanand1120/Grounded-Segment-Anything.git
[submodule "third_party/Depth_Anything"]
	path = third_party/Depth_Anything
	url = git@github.com:sadanand1120/Depth-Anything.git
